li
    a(href="/about").waves-effect Обо мне
        i.material-icons.right description
li
    a(href="./portfolio").waves-effect.waves-light Портфолио
        i.material-icons.right work
li
    a(href="./price").waves-effect.waves-light Стоимость
        i.material-icons.right payment
li
    a(href="./contacts").waves-effect.waves-light Контакты
        i.material-icons.right contact_phone